@model IEnumerable<WebApplication1.Models.Produto>

@{
    ViewData["Title"] = "Listar";
}

<h1>Listar</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prodnome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.codProd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prodnome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.preco)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Editar", new { id = item.codProd }) |
                    @Html.ActionLink("Delete", "Deletar", new { id = item.codProd }, new { onclick = "return confirm('Deseja excluir');" })
                </td>
            </tr>
        }
    </tbody>
</table>

